.experiencia {
    max-width: 1200px;
    padding: 80px 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.subtitulo-experiencia {
    color: var(--cor-logo);
    font-weight: 900;
    font-size: 8rem;
    word-break: break-all;
    line-height: 1;
    text-transform: uppercase;
    max-width: 4ch;
}

.experiencia-texto {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 3.6rem;
    max-width: 40ch;
}

.experiencia strong {
    font-weight: 700;
}

.empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    gap: 2.2rem;
    background: var(--cinza-claro);
    margin-bottom: 20px;
    border-radius: 6px;
    position: relative;
}

.empresa::before{
    content: "";
    display: block;
    width: 5px;
    height: 20px;
    background: linear-gradient(#0084ff, #00fff2);    position: absolute;
    top: 30px;
    left: -5px;
    border-radius: 3px;
}

.empresa-ano {
    position: absolute;
    top: 34px;
    left: -100px;
    color: var(--cinza-escuro);
    font-size: 0.875rem;
    text-align: right;
    width: 80px;
}

.empresa-nome {
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: var(--grossa);
}

.empresa-cargo{
    font-weight: var(--grossa);
    font-size: 1rem;
}

.empresa-descricao {
    font-size: 0.9rem;
    line-height: 1.1;
    color: var(--cinza-escuro);
}

.empresa-skills {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
    margin-top: 1.5rem;
    font-weight: var(--fina);
}

.empresa-skills li {
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
}

@media (max-width: 800px){

    .subtitulo-experiencia {
        font-size: 3rem;
        max-width: initial;
    }

    .experiencia{
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .experiencia-texto {
        font-size: 1rem;
    }

    .empresa-ano {
        position: initial;
        order: 1;
        width: initial;
        text-align: initial;
    }

    .empresa-descricao {
        font-size: 0.8rem;
    }
}

@media (max-width: 600px){
    .empresa {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .empresa::before {
        top: 26px;
    }

    .empresa-ano {
        order: 0;
    }
}