.intro{
    max-width: 1200px;
    padding: 30px 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
}

.intro h1 {
    font-size: 4rem;
    font-weight: var(--grossa);
    margin-bottom: 1.8rem;
    position: relative;
}

.intro h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url(/assets/detalhe.svg) no-repeat;
    position: absolute;
    top: -38px;
    left: -40px;
    z-index: -1;
}

.intro p{
    font-size: 1.2rem;
    text-align: right;
}

@media (max-width: 1000px) {
    .intro h1 {
        font-size: 3rem;
    }

    .intro p{
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .intro {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .intro h1 {
        font-size: 2.5rem;
    }

    .intro h1::before {
        display: none;
    }
}

@media (max-width: 650px) {
    .intro {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .intro img {
        max-width:70%;
    }

    .intro p {
        text-align: center;
    }	
}